# IDEs
.idea/
.vscode/
.project
.classpath
.factorypath
.settings/

# Java/Maven
target/

bin/
**/*.class
*.log

# Node/Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Env
.env
**/*.env
backend/target/
frontend/node_modules/
frontend/build/
*.log
